<div class="container">
    <div class="row py-4 text-center">
        <div class="col"><span class="display-4">HKID Generator</span></div>
    </div>
    <div class="row py-2">
        <div class="col">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="doublePrefix"
                    [(ngModel)]="doublePrefix">
                <label class="form-check-label" for="doublePrefix">(Double-letter prefix)</label>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control form-control-lg" [value]="hkid" (input)="changeHkid($event)"
                    [ngClass]="{'is-invalid': !correct}">
                <button class="btn btn-outline-secondary btn-lg" type="button" (click)="getHkid()"
                    ngbTooltip="Generate"><i class="bi bi-repeat"></i>
                </button>
                <button class="btn btn-outline-secondary btn-lg" type="button" (click)="copyHkid()" ngbTooltip="Copy"><i
                        class="bi bi-sticky"></i></button>
            </div>
        </div>
    </div>
    <div class="row py-2" *ngIf="!correct">
        <div class="col"><span class="text-danger">{{hkid | hkidPipe: doublePrefix}} is not a correct HKID</span></div>
    </div>
</div>